:root{
    --font: font-family: "Langar", system-ui;
    --crimson-red: #201111;
    --white: #fff;
    --light-crimson-red: #391C1C;
}

*{  
    cursor: url('../img/mouse-normal.png'), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.header img{
    width: 400px;
}

.header a{
    width: 400px;
    cursor: pointer;
}

body{
    background-color: var(--crimson-red);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 20px;
    background-color: var(--white);
    margin-bottom: 150px;
}

.form-box{
    gap: 50px;
    width: 450px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.submit-form button{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: rgb(72, 82, 72);
    color: white;
    font-size: 12pt;
    font-family: 'Langar';
    cursor: url('../img/mouse-point.png'), pointer;
}

.submit-form button:hover{
    cursor: url('../img/mouse-point.png'), pointer;
}

.login-assets{
    font-size: 16pt;
    font-family: "Langar", system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.user-box-input{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.create-acount{
    font-family: 'Langar', system-ui;
    font-size: large;
}

.create-acount a{
    cursor: url('../img/mouse-point.png'), pointer;
}

.footer {
    cursor: url('../img/mouse-normal.png'), auto;
    display: flex;
    height: 150px;
    background-color: var(--light-crimson-red);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.social-media{
    position: absolute;
    align-self: flex-end;
    margin-right: 125px;
    display: flex;
    gap: 25px;
}

.social-media img{
    cursor: url('../img/mouse-point.png'),pointer;
}

.footer h2 {
    font-family: "Langar", system-ui;
    text-align: center;
    font-weight: 100;
}

.footer h3 {
    font-family: "Langar", system-ui;
    text-align: center;
    font-weight: 100;
}

.emptyMensage {
    display: none;
    color: red;
    font-style: oblique;
    font-weight: 500;
    font-size: 12px;
}